<div class="mx-auto" style="width: 200px;">

  <h3><%= params[:line] %></h3>

</div>

    <% if @cars.count == 0 %>
      <h1> There is no car of that line. </h1>
    <% else %>
    <% @cars.each do |car| %>
      <p><%= car.name %> </p>


         
    <% end %>

<% end %>