<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <%= params[:make] %>
    <% @cars.each do |car| %>
      <h4><%= link_to car.make, car_path(car) %>
          <% end %></h4>
  </div>