<div class="row"> </div> <!-- Not sure if this is right just a test for now -->
    
  <%= params[:make] %>
    <% @cars.each do |car| %>
    <h4><%= link_to car.make, car_path(car) %></h4>
  <% end %>
