<div class="columns is-centered landing">
  <div class="column" align="center">
      <br>
    <h1 class="title is-1">Prime Motor Group</h1>
    <h5>Welcome to New Englands Premier Car Dealer</h5>
    <h1><div class="column" align="center">
      <%= link_to "Sign up", signup_path, class:"btn btn-primary" %>
    </div></h1>
    <h1><div class="column" align="center">
      <%= link_to "Log In", login_path, class: "btn btn-primary"%>
    </div></h1>
    <h1><div class="column" align="center">
      <%= link_to "Log in via Facebook", '/auth/facebook', class: "btn btn-primary" %>
    </div></h1>

  </div>
</div>