<p> <%= review.comment %> </p>

  <% if logged_in? %>
    <% if review.user_id == current_user.id %>
        <%= link_to "Edit", edit_car_review_path(review.car, review) %>
        <%= link_to "Delete", car_review_path(review.car, review), method: :delete %>
    <% end %>
 <% end %>